.pic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.rowC{display:flex; flex-direction:row;}

.commentsection{
    background: lightgray;
    border-radius: 5%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-top: 1px;
    margin-bottom: 2px;
    margin-left: 2px;
    
}
.comment{
    margin-top: 15px;
}